<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <script type="text/javascript">
    $('table').on('scroll', function() {
      $("table > *").width($("table").width() + $("table").scrollLeft());
    });
    </script>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

<script type="text/javascript">
  $(window).on("load",function(){
    CreateTableFromJSON(rankingOverall);
  })
</script>
