---
layout: default
---
<div class="container demo-1">
  <div class="home">
    <div class="content">
      <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <h1 class="main-title">Connect <span class="thin">Three</span></h1>
        <div class="main-buttons">
          <button type="button" onclick="CreateTableFromJSON(rankingOverall)" name="button">Ranking Overall</button>
          <button type="button" onclick="CreateTableFromJSON(gamesPlayed)" name="button">Games Played</button>
          <button type="button" onclick="CreateTableFromJSON(factionRankings)" name="button">Faction Rankings</button>
            <div id="showData"></div>
        </div>
      </div>
    </div>
  </div>
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2>Message Log</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
<script src="res/js/bkg/js/TweenLite.min.js"></script>
<script src="res/js/bkg/js/EasePack.min.js"></script>
<script src="res/js/bkg/js/rAF.js"></script>
<script src="res/js/bkg/js/demo-1.js"></script>
