---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1 class='display-header'>40k League</h1>

  {%- include intro.html -%}

  {{ content }}
  <div class="btn-container">
    <button type="button" onclick="CreateTableFromJSON(rankingOverall)" class="main-button">Ranking Overall</button>
    <button type="button" onclick="CreateTableFromJSON(gamesPlayed)" class="main-button">Games Played</button>
    <button type="button" onclick="ServiceNotAvailable()" class="main-button">Faction Rankings</button>
      <div id="showData"></div>
  </div>

  {%- if site.posts.size > 0 -%}
    <h2 class='post-header'>Message Log</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {{ post.excerpt }}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
